# Virtual Environment & Cache
bin/
lib/
lib64
include/
logs/
config/
share/
tests/
pyvenv.cfg
__pycache__/
*.pyc

# Environment Secrets & Service Accounts
.env
*.json
!OpenAPIScripMaster.json

# Logs
logs/
*.log
