# Virtual Environment & Cache
bin/
lib/
lib64
include/
config/
share/
tests/
pyvenv.cfg
__pycache__/
*.pyc

# Environment Secrets & Service Accounts
.env
.env.bak
*.json
!OpenAPIScripMaster.json

# Logs
logs/
*.log

# SQLite Database Files
*.db
*.sqlite
*.sqlite3

# OS / Editor Files
.DS_Store
.vscode/
.idea/
